body {
	width:1920px;
	height:1080px;
	background-color: #000;
	overflow:hidden;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	user-select:none;
}

div.container {
	width:1920px;
	height:1080px;
	position:absolute;
	top:0px;
	left:0px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow:hidden;
	transform-origin:0% 0%;
}

div.buttonBar {
	position:absolute;
	top:0px;
	left:0px;
	height:0px;
	width:1920px;
	background-color:black;
	opacity:0.5;
}

#dialogResponse {
	position:absolute;
	display:none;
}

#glow {
	display:none;
}

.button {
	position:absolute;
	display:block;
	background-color:transparent;
	background-repeat:no-repeat;
	text-decoration:none;
	border:none;
	margin:0;
	padding:0;
	transition-duration:0.1s;
	cursor:pointer;
}
.button:focus {
	border:none;
	outline:0;
	margin:0;
	padding:0;
}

.nav_button:active {
	margin:none;
	background-position:0 10px;
	background-repeat:no-repeat;
	background-size:127px 137px;
	border:none;
	padding:0;
}

#nav_mute { display:none; }
#nav_mute:not(:checked) + label, #nav_mute:checked + label {
	bottom:302px;
	right:16px;
	width:127px;
	height:137px;
	background-size:127px 127px;
}
#nav_mute:not(:checked) + label {
	background-image:url("../images/buttons/mute_on.png");
}
#nav_mute:checked + label {
	background-image:url("../images/buttons/mute_off.png");
}

#nav_dialog { display:none; }
#nav_dialog:not(:checked) + label, #nav_dialog:checked + label {
	bottom:159px;
	right:16px;
	width:127px;
	height:137px;
	background-size:127px 127px;
}
#nav_dialog:not(:checked) + label {
	background-image:url("../images/buttons/dialog.png");
}
#nav_dialog:checked + label {
	background-image:url("../images/buttons/word.png");
}

#nav_back {
	bottom:16px;
	right:16px;
	width:127px;
	height:137px;
	background-image:url("../images/buttons/back.png");
	background-size:127px 127px;
}

#nav_home {
	bottom:16px;
	right:16px;
	width:127px;
	height:137px;
	background-image:url("../images/buttons/homeb.png");
	background-size:127px 127px;
}

#nav_close {
	bottom:16px;
	right:16px;
	width:127px;
	height:137px;
	background-image:url("../images/buttons/close.png");
	background-size:127px 127px;
}

img {
	position:absolute;
	border:none;
	margin:0;
	padding:0;
	cursor:pointer;
}

img.static {
	cursor:default;
}

audio {
	display:none;
}

@font-face {
	font-family:printbold;
	src:url("print_bold_ot.otf");
}

