#star1 {
	display:none;
	left:412px;
	bottom:644px;
}
#star2 {
	display:none;
	left:547px;
	bottom:392px;
}
#star3 {
	display:none;
	left:689px;;
	bottom:207px;
}
#star4 {
	display:none;
	left:580px;
	bottom:74px;
}
#star5 {
	display:none;
	left:750px;
	bottom:450px;
}
#star6 {
	display:none;
	left:895px;
	bottom:256px;
}
#star7 {
	display:none;
	left:938px;
	bottom:422px;
}
#star8 {
	display:none;
	left:1074px;
	bottom:91px;
}
#star9 {
	display:none;
	left:1208px;
	bottom:414px;
}
#star10 {
	display:none;
	left:1532px;
	bottom:606px;
}
#star11 {
	display:none;
	left:1774px;
	bottom:590px;
}
#star12 {
	display:none;
	left:1658px;
	bottom:484px;
}
#star13 {
	display:none;
	left:1464px;
	bottom:465px;
}
#star14 {
	display:none;
	left:1230px;
	bottom:276px;
}
#star15 {
	display:none;
	left:1062px;
	bottom:292px;
}
#star16 {
	display:none;
	left:816px;
	bottom:92px;
}
#star17 {
	display:none;
	left:780px;
	bottom:323px;
}
#star18 {
	display:none;
	left:526px;
	bottom:229px;
}
#star19 {
	display:none;
	left:412px;
	bottom:118px;
}
#star20 {
	display:none;
	left:343px;
	bottom:593px;
}

.star {
	transition: transform 0.5s;
}

