img {
	cursor:default;
}

a>img {
	cursor:pointer;
}

.navigation>img {
	cursor:pointer;
}

#maptitle {
	left:600px;
	bottom:944px;
}
#busstop {
	left:551px;
	bottom:82px;
}
#gym {
	left:1457px;
	bottom:236px;
}
#hospital {
	left:495px;
	bottom:344px;
}
#museum {
	left:80px;
	bottom:760px;
}
#park {
	left:20px;
	bottom:92px;
}
#restaurant {
	left:950px;
	bottom:722px;
}
#school {
	left:904px;
	bottom:138px;
}
#ship {
	left:1715px;
	bottom:818px;
}
#house {
	left:1474px;
	bottom:754px;
}
#supermarket {
	left:60px;
	bottom:376px;
}
#zoo {
	left:530px;
	bottom:712px;
}
#busstop_label {
	left:535px;
	bottom:78px;
}
#gym_label {
	left:1499px;
	bottom:194px;
}
#hospital_label {
	left:550px;
	bottom:297px;
}
#museum_label {
	left:60px;
	bottom:716px;
}
#park_label {
	left:29px;
	bottom:45px;
}
#restaurant_label {
	left:977px;
	bottom:675px;
}
#school_label {
	left:968px;
	bottom:91px;
}
#supermarket_label {
	left:68px;
	bottom:332px;
}
#zoo_label {
	left:538px;
	bottom:674px;
}
#house_label {
	left:1452px;
	bottom:712px;
}

#nav_back {
	right:159px;
	bottom:16px;
}

